<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="btn-group btn-group-justified">
    <th:block th:each="category : ${categories}">
        <a class="btn btn-primary" th:text="${category.name}"
           th:href="@{/page/category/}+${category.name}"></a>
    </th:block>
    </div>

    <h1>All Topic</h1>
    <a th:href="@{/page/addTopic}">
        <button type="button" class="btn btn-primary btn-md">Add Topic</button>
        </a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Data</th>
            <th scope="col">Category</th>
            <th scope="col">User</th>
        </tr>
        </thead>
        <th:block th:each="topic,stat : ${topics}">
            <tr class="table-tr" th:onclick="'javascript:rowClickedTopic(\'' + ${topic.id} + '\');'">
                <td th:text="${stat.count}" ></td>
                <td th:text="${topic.name}">...</td>
                <td th:text="${#dates.format(topic.date, 'HH:mm dd-MM-yyyy')}">...</td>
                <td th:text="${topic.category.name}">...</td>
                <td th:text="${topic.user.firstName}">...</td>
            </tr>
        </th:block>
    </table>

    <script>
        function rowClickedTopic(value) {
            location.href = "/page/topic/" + value;
        }
    </script>

</div>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>